<html>
<head>
  <!-- load bootstrap + fontawesome -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
  
  <!-- angular material style sheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- angular libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!-- routing directive -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

  <!-- filepicker -->
  <script type="text/javascript" src="https://api.filestackapi.com/filestack.js"></script>
  <script type="text/javascript" src="/javascripts/angular_filepicker.min.js"></script>

  <!-- flash messages -->
  <script src="/javascripts/angular-flash.min.js"></script>
  
  <!-- socket.io -->
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="/javascripts/socket.min.js"></script>
  <script src="/javascripts/chatSocket.js"></script>

  <!-- angular controllers and routing-->
  <script src="/javascripts/routes.js"></script>
  <script src="/javascripts/headCtrl.js"></script>
  <script src="/javascripts/hashtagCtrl.js"></script>

  <!-- hashtagify -->
  <script src="/javascripts/angular-hashtagify.min.js"></script>
  <base href="/">
  <script type='text/javascript'>
  var tag = <%-JSON.stringify(tag)%>
  </script>
  <style>
  .overlay1 {
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
  }
  .overlay1 {
    max-width: 25vw;
  }
  .overlay1:hover  {
    opacity:.7; 
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
      )
  }

  .overlay1 {
    background:rgba(0,0,0,0.6);
    opacity: 1;
  }
  </style>
  <span ng-app="instagram" ng-controller="headCtrl" ng-show="auth">
    <md-toolbar class="md-hue-3" style="background-color: #e74c3c;" style="padding-right: 30px;">
    <div class="md-toolbar-tools">
      <h2>
        <button ng-click="tologin()" style="background-color: transparent; border: none; outline: none; overflow: hidden;"><span style="color: white; padding-left: 30px;">Instagram in Node.JS</span></button>
      </h2>
      <md-content class="center-block" style="width: 300px;">
      <md-autocomplete 
      md-selected-item="selectedItem" 
      md-search-text-change="searchTextChange(searchText)" 
      md-search-text="searchText" 
      md-selected-item-change="selectuser(user)" 
      md-items="user in filterOut(users)"
      md-item-text="user.username" 
      md-min-length="0" 
      placeholder="Find users" >
      <md-item-template flex style="display: flex; height: 100px;">
      <span style="height: 100px;">
       <md-card-avatar style="border-radius: 50%">
       <img style="border-radius: 50%; height: 40px; width: 40px;" ng-src="{{user.profileurl}}">
       <img ng-hide="user.profileurl" ng-src="https://qph.ec.quoracdn.net/main-qimg-3b0b70b336bbae35853994ce0aa25013" style="border-radius: 50%;" />
     </md-card-avatar>
     <span style="padding-left: 20px; display: inline-block; line-height: 2;"><strong> {{user.username}} </strong></span> <br \>
     <span style="display: inline; border-bottom-width: 0;">
      <strong>{{user.bio}}</strong>
    </span>
  </span>
</md-item-template>
<md-not-found>
No users matching "{{searchText}}" were found.
</md-not-found>
</md-autocomplete>
</md-content>
<md-button class="md-raised" aria-label="New post" ng-click="toalerts()">
<md-icon class="material-icon">error</md-icon>
Alerts
</md-button>
<md-button class="md-raised" aria-label="New post" ng-click="tonew()">
<md-icon class="material-icon">add_box</md-icon>
New Post
</md-button>
<md-button class="md-raised" aria-label="Check profile" ng-click="profile(username)">
<md-icon class="material-icon">account_box</md-icon>
my profile
</md-button>
<md-button class="md-raised" aria-label="Signout" ng-click="signout()">
<md-icon class="material-icon">exit_to_app</md-icon>
logout
</md-button>
</div>
</md-toolbar>
</span>
<span ng-app="instagram" ng-controller="headCtrl" ng-hide="auth">
  <md-toolbar class="md-hue-3" style="background-color: #e74c3c;" style="padding-right: 30px;">
  <div class="md-toolbar-tools" style="padding-right: 50px;">
    <h2>
     <button ng-click="tologin()" style="background-color: transparent; border: none; outline: none; overflow: hidden;"><span style="color: white; padding-left: 30px;">Instagram in Node.JS</span></button>
   </h2>
   <span class="center-block"></span>
   <md-button class="md-raised" class="center-block" aria-label="Login" ng-click="tologin()">
   <md-icon class="material-icon">exit_to_app</md-icon>
   Login
 </md-button>
</div >
</md-toolbar>
</span>
<div class="container" style="padding-top: 30px;">
  <flash-message
  duration="5000"
  show-close="true"
  on-dismiss=""
  ></flash-message>
</div>
</head>
<body ng-controller="hashtagCtrl" ng-app="instagram">
  <div class="container" ng-hide="isediting">
    <div class="container">
      <h1 style="text-align: center;">Posts with #<%-tag%></h1>
    </div>
    <div class="container" style="padding-top: 40px;">
      <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
      <md-grid-tile ng-repeat="post in posts | orderBy:'likedby.length'" class="overlay1" ng-mouseover="post.hover = true;" ng-mouseleave="post.hover = false;" style="background-position: center; background-size: cover;" ng-style="{'background-image': 'url({{post.url}})'}" ng-click="show($event, post)">
      <span style="color: white;" ng-show="post.hover"><h5><md-icon style="color: white;" class="material-icon">favorite</md-icon>&nbsp{{post.likedby.length}} like<span ng-if="post.likedby.length != 1">s</span> <md-icon style="color: white;" class="material-icon">mode_comment</md-icon>&nbsp {{post.comments.length}} comment<span ng-if="post.comments.length != 1">s</span></h5></span>
    </md-grid-tile>
  </md-grid-list>
</div>
</div>
</body>
</html>
